/* Universal styles */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 40px 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* create banner gradient color */
#banner {
  background: linear-gradient(to right, rgb(36, 36, 153), rgb(125, 158, 177));
}
