/* Universal styles */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 40px 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
